<div class="w-2/3 flex-column space-y-3">
  <div class="bg-white rounded-lg h-full relative">
    <!-- <div class="flex space-x-3 p-4 items-center">
            <div
                class="p-2 rounded-lg border border-soild border-1 border-gray-300 flex items-center h-2/3"
            >
                <i class="fas fa-user"></i>
                <span
                    class="text-md font-medium text-green-500 w-40 mx-2"
                    >The Anh</span
                >
                <button
                    type="button"
                    class="btn-close"
                    aria-label="Close"
                ></button>
            </div>
            <div class="form-outline">
                <label class="form-label" for="typeNumber"
                    >Khách trong nước</label
                >
                <input
                    type="number"
                    id="typeNumber"
                    class="form-control"
                />
            </div>
            <div class="form-outline">
                <label class="form-label" for="typeNumber"
                    >Khách nước ngoài</label
                >
                <input
                    type="number"
                    id="typeNumber"
                    class="form-control"
                />
            </div>
        </div> -->
    <!-- *****************Thanh toan****************** -->
    <!-- <div class="absolute bottom-4 right-4">
            <div class="btn btn-success">Nhận phòng</div>
            <div class="btn btn-warning">Đặt trước</div>
            <div class="btn btn-success">
                Thanh toán
            </div>
        </div> -->

    <div class="container mx-auto px-4 md:px-12">
      <h4 class="font-bold text-lg text-center py-4">
        Danh sách phòng hiện trống
      </h4>
      <div class="flex flex-col mb-3">
        <div class="rounded-xl border border-gray-200 bg-white p-6 shadow-lg">
          <form class="">
            <div class="grid grid-cols-1 gap-6 grid-cols-3">
              <div class="flex flex-col">
                <label
                  for="manufacturer"
                  class="text-sm font-medium text-stone-600"
                  >Tối đa khách một phòng</label
                >

                <select
                  id="manufacturer"
                  class="mt-2 block w-full rounded-md border border-gray-100 bg-gray-100 px-2 py-2 shadow-sm outline-none focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50"
                >
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                </select>
              </div>

              <div class="flex flex-col">
                <label for="status" class="text-sm font-medium text-stone-600"
                  >Tầng</label
                >

                <select
                  id="status"
                  class="mt-2 block w-full cursor-pointer rounded-md border border-gray-100 bg-gray-100 px-2 py-2 shadow-sm outline-none focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50"
                >
                  <option>Tầng 1</option>
                  <option>Tầng2</option>
                  <option>Tầng3</option>
                </select>
              </div>

              <div class="flex items-end space-x-3 w-full">
                <button
                  class="rounded-lg bg-gray-200 px-8 py-2 font-medium text-gray-700 outline-none hover:opacity-80 focus:ring"
                >
                  Xoá bộ lọc
                </button>
                <button
                  class="rounded-lg bg-blue-600 px-8 py-2 font-medium text-white outline-none hover:opacity-80 focus:ring"
                >
                  Tìm kiếm
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="flex flex-wrap -mx-1 lg:-mx-6">
        <!-- Column -->
        <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/4">
          <!-- Article -->
          <article class="overflow-hidden rounded-lg shadow-lg">
            <a href="#">
              <img
                alt="Placeholder"
                class="block h-auto w-full"
                src="https://picsum.photos/600/400/?random"
              />
            </a>

            <header
              class="flex items-center justify-between leading-tight p-2 md:p-4"
            >
              <h1 class="text-lg">Phòng 2 giường</h1>
              <p class="text-grey-darker text-sm">Còn (2)</p>
            </header>

            <footer
              class="flex-row items-center justify-between leading-none p-2 md:p-4"
            >
              <p class="text-sm text-gray-600">Tối đa: 3</p>
              <p class="text-sm text-gray-600">Giá: 800,000 (2/3 khách)</p>
              <p class="text-sm text-gray-600">Giá: 1100,000 (>2 khách)</p>
              <p class="text-sm text-gray-600">
                Nếu có khách nước ngoài : giá * 1.5
              </p>
            </footer>
            <button class="btn btn-success m-2 choose-this-room">
              Chọn ngay
            </button>
          </article>
          <!-- END Article -->
        </div>
        <!-- END Column -->
      </div>
    </div>
  </div>
</div>
