<div class="w-1/3 bg-white rounded-lg p-3">
  <h4 class="font-bold text-lg text-center">Tìm kiểm khách hàng</h4>
  <select class="form-select" id="search_type">
    <option selected value="1">Tìm kiếm theo tên</option>
    <option value="2">Tìm kiếm theo số điện thoại</option>
    <option value="3">Tìm kiếm theo địa chỉ</option>
  </select>
  <div class="flex-row p-3 justify-between items-center">
    <h1>Loại khách:</h1>

    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="nationality"
        checked
        id="nationality-all"
        value="All"
      />
      <label class="form-check-label" for="nationality-all"> Tất cả </label>
    </div>

    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="nationality"
        id="vietnamese"
        value="False"
      />
      <label class="form-check-label" for="vietnamese">
        Người trong nước
      </label>
    </div>

    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="nationality"
        id="foreigner"
        value="True"
      />
      <label class="form-check-label" for="foreigner"> Người nước ngoài </label>
    </div>
  </div>
  <div class="flex space-x-2">
    <input
      type="text"
      class="form-control"
      placeholder="Nhập từ khoá"
      id="search_guest"
    />
    <button class="btn btn-secondary w-full search-guest-btn" type="button">
      Tìm kiếm
    </button>
  </div>
  <div class="flex justify-center mt-2">
    <button class="btn btn-success add-guest-btn" type="button">
      Thêm một khách mới
    </button>
  </div>
  <div class="border-solid border-2 border-black mt-3"></div>
  <div class="h-96">
    <!-- <span>Không tìm thấy khách</span> -->
    <ul class="w-full overflow-auto h-full list-guest"></ul>
  </div>
</div>
