
<header id="header" class="header fixed-top d-flex align-items-center h-16 z-40">
    <div class="d-flex align-items-center justify-content-between">
        <a href="/nhan-vien/lich-dat-phong/">
            <button class="btn btn-primary mr-3">
                <i class="fas fa-calendar-alt"></i> Lịch đặt phòng
            </button>
       </a>
        <a  href="/nhan-vien/dat-phong/">
            <button class="btn btn-info mr-3">
                <i class="fas fa-bed"></i> Đặt phòng
            </button>
        </a>
        <button class="btn btn-warning confirmation-btn">
            <i class="fas fa-hourglass-half"></i> Chờ xác nhận
        </button>
    </div>
    <!-- End Logo -->

    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">
            <li class="nav-item dropdown pe-3">
                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                    <img src="https://res.cloudinary.com/dqpo9h5s2/image/upload/v1711860995/rooms/avatar_vuwmxd.jpg"
                         alt="Profile" class="rounded-circle"/>
                    {% if current_user.is_authenticated %}
                         <span class="d-none d-md-block dropdown-toggle ps-2">{{ current_user.username }}</span>
                    {% endif %}
                </a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                    <li class="dropdown-header">
                        {% if current_user.is_authenticated %}
                            <h6>{{ current_user.username }}</h6>
                        {% endif %}
                        <span>Lễ Tân</span>
                    </li>
                    <li>
                        <hr class="dropdown-divider"/>
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="#">
                            <i class="bi bi-person"></i>
                            <span>Trang Cá Nhân</span>
                        </a>
                    </li>

                    <li>
                        <hr class="dropdown-divider"/>
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="/logout">
                            <i class="bi bi-box-arrow-right"></i>
                            <span>Đăng Xuất</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>

    <!-- Hien thi cac lich dat phong online    -->
    <div class="overlay-confirm-booking">
        <div class="modal-confirm-booking">
            <!--            <span class="close-confirm-booking-btn">&times;</span>-->
            <div style="display: flex;justify-content: space-between;">
                <h2 style="color: black;">Thông tin đặt phòng</h2>
                <i class="fa fa-window-close" style="color:black;" aria-hidden="true"></i>
            </div>

            <table class="table">
                <thead>
                <tr>
                <tr>
                    <th scope="col" style="width: 10%;">Mã đặt phòng</th>
                    <th scope="col" style="width: 10%;">Khách đặt</th>
                    <th scope="col" style="width: 10%;">Lưu trú</th>
                    <th scope="col" style="width: 20%;">Phòng đặt</th>
                    <th scope="col" style="width: 40%;">Số lượng khách</th>
                    <th scope="col" style="width: 5%;"></th>
                    <th scope="col" style="width: 5%;"></th>
                </tr>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td>DP000021</td>
                    <td>31/03/2024 00:38</td>
                    <td>TheAnh</td>
                    <td>037350638 31 thg 3, 14:00 - 01 thg 4, 12:00</td>
                    <td>1 Phòng 01 giường đôi cho 2 người, 1 người lớn, 0 trẻ em</td>
                    <td style="cursor: pointer;"><i class="fas fa-check-circle text-success"></i></td>
                    <td style="cursor: pointer;"><i class="fas fa-times-circle text-danger"></i></td>
                </tr>
                <tr>
                    <td>DP000021</td>
                    <td>31/03/2024 00:38</td>
                    <td>TheAnh</td>
                    <td>037350638 31 thg 3, 14:00</td>
                    <td>1 Phòng 01 giường đôi cho 2 người, 1 người lớn, 0 trẻ em</td>
                    <td style="cursor: pointer;"><i class="fas fa-check-circle text-success"></i></td>
                    <td style="cursor: pointer;"><i class="fas fa-times-circle text-danger"></i></td>
                </tr>
                <tr>
                    <td>DP0000</td>
                    <td>31/03/2024 00:38</td>
                    <td>TheAnh</td>
                    <td>037350638 31 thg 3, 14:00 - 01 thg 4, 12:00</td>
                    <td>1 Phòng 01 giường đôi cho 2 người, 1 người lớn, 0 trẻ em adfasdf</td>
                    <td style="cursor: pointer;"><i class="fas fa-check-circle text-success"></i></td>
                    <td style="cursor: pointer;"><i class="fas fa-times-circle text-danger"></i></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</header>