    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">
        <ul class="sidebar-nav" id="sidebar-nav">
            <li class="nav-item ">
                <a class="nav-link" href="/admin/">
                    <i class="bi bi-house"></i>
                    <span>Trang Chủ</span>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/admin/user/">
                    <i class="bi bi-person-fill"></i>
                    <span>Khách Hàng</span>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link collapsed" href="/admin/booking/">
                    <i class="bi bi-calendar-event"></i>
                    <span>Booking</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#booking-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-building"></i><span>Khách Sạn</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="booking-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="/admin/tier/">
                            <i class="bi bi-circle"></i><span>Hạng Phòng</span>
                        </a>
                    </li>
                    <li>
                        <a href="/admin/room/">
                            <i class="bi bi-circle"></i><span>Phòng</span>
                        </a>
                    </li>
                    <li>
                        <a href="/admin/floor/">
                            <i class="bi bi-circle"></i><span>Tầng</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="/admin/report/">
                    <i class="bi bi-clipboard2-check-fill"></i>
                    <span>Báo Cáo</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="/admin/statistic/">
                    <i class="bi bi-file-earmark-bar-graph"></i>
                    <span>Thống Kê</span>
                </a>
            </li>
        </ul>
    </aside>
    <!-- End Sidebar-->