{% extends 'auth_layout.html'%} {% block title %}
<title>Trang Đăng Nhập</title>
{% endblock %} {% block body %} {{super()}}
<div class="login-form" id="loginForm">
    <h1>Đăng Nhập</h1>
    <div class="social-icons">
        <a href="#" class="icon"><i class='bx bxl-google-plus'></i></a>
        <a href="#" class="icon"><i class='bx bxl-facebook'></i></a>
        <a href="#" class="icon"><i class='bx bxl-github'></i></a>
        <a href="#" class="icon"><i class='bx bxl-linkedin'></i></a>
    </div>

    <div class="form-message-container">
        <span>Hoặc sử dụng tài khoản của bạn</span>
    </div>

    <form method="post" action="/login">
        <input type="text" placeholder="Nhập tài khoản" name="username">
        <input type="password" placeholder="Nhập mật khẩu" name="password">
        <div style="display: inline-flex; justify-content: center; align-items: center;">
            <button  style="margin: 2px;" name="login_role" value="receptionist" type="submit">Lễ Tân</button>
            <button  style="margin: 2px;" name="login_role" value="admin" type="submit">Quản Trị</button>
        </div>
        {% if err_msg %}
            <div style="color:red;margin:2px;">
                {{err_msg}}
            </div>
        {% endif %}
        <a href="#">Quên mật khẩu?</a>
    </form>
    <p>Bạn chưa có tài khoản? <a href="#" id="showSignup">Đăng ký ngay</a></p>
</div>
{% endblock %}