<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% block title %} {% endblock %}

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet"/>

    <!-- Vendor CSS Files -->

    <link href="{{url_for('static',filename='plugins/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet"/>
    <link href="{{url_for('static',filename='plugins/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet"/>

    <link rel="stylesheet" href="{{url_for('static', filename='css/admin-style.css')}}" />
    <script src="https://cdn.tailwindcss.com"></script>

</head>

<body>
<main>
    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="d-flex justify-content-center py-4">
                <a href="index.html" class="logo d-flex align-items-center w-auto">
                  <span class="d-none d-lg-block">Quản Lý Khách Sạn</span>
                </a>
              </div><!-- End Logo -->

              <div class="card mb-3">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Đăng Nhập Bằng Tài Khoản Của Bạn</h5>
                  </div>

                  <form class="row g-3 needs-validation" novalidate  method="post" action="/login">
                    <div class="col-12">
                      <label for="username" class="form-label">Tài khoản</label>
                      <div class="input-group has-validation">
                        <input type="text" name="username" class="form-control" id="username" required>
                        <div class="invalid-feedback">Vui Lòng Nhập Tài Khoản</div>
                      </div>
                    </div>

                    <div class="col-12">
                      <label for="password" class="form-label">Mật Khẩu</label>
                      <input type="password" name="password" class="form-control" id="password" required>
                      <div class="invalid-feedback">Vui Lòng Nhập Mật Khẩu</div>
                    </div>

                    <div class="col-6">
                      <button class="btn btn-primary w-100" type="submit" name="login_role" value="admin">Quản Lý</button>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-success w-100" type="submit" name="login_role" value="receptionist">Nhân Viên</button>
                      </div>
                  </form>

                </div>
              </div>
            </div>
          </div>
        </div>

      </section>

    </div>
  </main><!-- End #main -->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

<!-- Plubgin JS Files -->
<script src="{{url_for('static', filename='plugins/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/chartjs/chart.umd.js')}}"></script>


<!-- Template JS File -->
<script src="{{url_for('static', filename='js/admin/index.js')}}"></script>

</body>

</html>