<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="login.css"> {% block title %} {% endblock %}

        <!-- boxicons -->
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

        <!-- google fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
        <!-- Main CSS   -->
        <link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}" />
    </head>

    <body background="{{ url_for('static', filename='image/bg.png') }}">
        <div class="login-container">
            {% block body %} {% endblock %}
        </div>
    </body>
</html>